[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/minubiyer
[access "refs/for/refs/*"]
	read = group user/minubiyer
	push = group user/minubiyer
	label-Code-Review = -2..+2 group user/minubiyer
	label-Verified = -1..+1 group user/minubiyer
	rebase = group user/minubiyer
	removeReviewer = group user/minubiyer
	submit = group user/minubiyer
[access "refs/heads/*"]
	read = group user/minubiyer
	create = group user/minubiyer
	push = +force group user/minubiyer
	pushMerge = group user/minubiyer
[access "refs/tags/*"]
	push = +force group user/minubiyer
	pushTag = group user/minubiyer
	pushSignedTag = group user/minubiyer
