<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloBean" class="com.mkyong.core.HelloWorld">
		<property name="name" value="Mkyong" />
	</bean>
	<!--Added for feature#2 stories-->
	<bean id="helloBean2" class="com.mkyong.core.App">
		<property name="name" value="Meena" />
	</bean>
	
	<!--Added for feature#3 stories-->
	<bean id="helloBean2" class="com.mkyong.core.CatalogueManager">
		<property name="name" value="S103" />
	</bean>
	
	
	<!--Added for new chan gestories-->
	<bean id="helloBean2" class="com.mkyong.service.PersonSerive">
		<property name="name" value="S103" />
	</bean>
</beans>